nav {
  display: flex;
  justify-content: space-around;
}

.article-container {
  display: flex;
  justify-content: space-around;
}

.article div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.news-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.news {
  display: flex;
  flex-direction: column;
}

.opportunitie-container {
  display: flex;
  flex-wrap: wrap;
}

.mail-container {
  display: flex;
  justify-content: space-around;
}
